<!-- File name: app.css 
Student’s Name: Hemal Vaghela
StudentID: 301289095 
Date: July 14, 2023 -->

  
  <!-- Script Section -->  
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/Scripts/app.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  
</body>
</html>
