<div class="container-fluid">
    <div class="row">
         <!-- Authors -->
        <!-- Authors -->
        <div class="col-3 p-2">
          <button class="btn btn-block btn-outline-primary" (click)='changeAuthor()'>
            All Authors
          </button>
          <br>
          <button *ngFor='let author of authors'
            class="btn btn-outline-primary btn-block"
            [class.active] = 'author == selectedAuthor' (click)='changeAuthor(author)'>
            {{ author }}&nbsp;  
          </button>
        </div>
          <!-- Books -->
          <div class="col-9 p-2">
            <div *ngFor='let book of books' class="card m-1 p-1 bg-light">
                <h5>
                  {{ book.name }}
                  <span class="badge badge-pill bg-primary float-end">
                    {{ book.price | currency: 'USD':'symbol':'2.2-2' }}
                  </span>
                </h5>
                <div class="card-text bg-white p-1">
                  <span>&nbsp;</span>
                  <div>
                    {{ book.description }}
                  </div>
                  <button class="btn btn-success btn-sm float-end"
                    (click)='addBookToCart(book)'>
                    Add To Cart
                  </button>
                </div>
              </div>
              <br><br>
              <div class="form-inline float-start mr-1">
                <select class="form-control" [value]='booksPerPage'
                (change)='changePageSize($any($event.target).value)'>
                <option value="2">2 per Page</option>  
                <option value="3">3 per Page</option>
                  <option value="4">4 per Page</option>
                  <option value="6">6 per Page</option>
                  <option value="8">8 per Page</option>
                </select>
              </div>
        
              <div class="btn-group float-end">
                <button *counter='let page of pageCount' (click)='changePage(page)'
                 class="btn btn-outline-primary"
                [class.active]='page == selectedPage'>
                {{ page }}
              </button>
            </div>


        </div>

        


    </div>
    
</div>




